@{
    ViewBag.Title = "Track Request";
}
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    </head>

<h2>Track Request</h2>

<table id="trackRequest"></table>

<script>
    $(document).ready(function () {

        const dataTable1 = $('#trackRequest').DataTable({
            "ajax": {
                "url": "../User/GetTrackRequest/",
                "dataSrc": ""
            },
            "columns": [
                {
                    "title": "Request ID",
                    "data": "RequestGUID",
                },
                {
                    "title": "Approved Time",
                    "data": "ApproveTime",
                    render: function (d) {
                        return moment(d).format("DD:MM:YYYY HH:mm");
                    }
                }]
        });
    });
</script>